body{
    background-image:url(../img/condominium-690086_1920.jpg);
    background-size: 100% 100%;
    background-attachment: fixed; 

    }

table, th, td {
  border: 1px solid #070000;
  border-collapse: collapse;
}
.nav{
	width: 100%;
	background: rgb(77, 35, 35);

	display: flex;
	justify-content: center;
}