table, th, td {
  border: 1px solid #080505;
  border-collapse: collapse;
}

body{
    background-image:url(../IMG/banner.jpg);
    background-size: 100% 100%;
    background-attachment: fixed; 

    } 

banner{
    width: 1400;
    height: 400px;
}
body{
    background-image:url(../img/condominium-690086_1920.jpg);
    background-size: 100% 100%;
    background-attachment: fixed; 

    }
form{
    width: 700px;
     height: 4;
    margin: auto;
    background: rgba(7, 0, 0, 0.43);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 8px;
} 
form  label{
   display: inline-block;
    width: 100px;
    color:#FFFFFF;
}

  

form input[type=text] {
    border:none;
    display: inline-block;
    background-repeat:no-repeat;   
    
    height:30px;
    width:254px;
}